input {
  background-color: var(--color-very-light-grayish-cyan);
  border: none;
  height: 48px;
  text-align: right;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 24px;
  width: 100%;
  color: var(--color-dark-cyan);

  &::placeholder {
    opacity: 0.35;
  }

  &:focus {
    outline: 2px solid var(--color-primary);
    border-radius: 5px;
  }

  &.bill {
    background-image: url('../../../public//assets//icons//dollar.svg');
    background-size: 10px 16px;
    background-repeat: no-repeat;
    background-position: 15px 16px;
  }

  &.people {
    background-image: url('../../../public/assets/icons/person.svg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 15px 16px;
  }
}
